USE [SchoolDb]
GO
/****** Object:  Table [dbo].[Aluno_Turma]    Script Date: 08/04/2024 05:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aluno_Turma](
	[Aluno_Id] [int] NOT NULL,
	[Turma_Id] [int] NOT NULL,
	[Situacao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Aluno_Id] ASC,
	[Turma_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 08/04/2024 05:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](255) NOT NULL,
	[Usuario] [nvarchar](45) NOT NULL,
	[Senha] [varchar](255) NULL,
	[Situacao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turmas]    Script Date: 08/04/2024 05:00:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turmas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Curso_Id] [int] NOT NULL,
	[Turma] [nvarchar](45) NOT NULL,
	[Ano] [int] NOT NULL,
	[Situacao] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aluno_Turma] ADD  DEFAULT ((1)) FOR [Situacao]
GO
ALTER TABLE [dbo].[Alunos] ADD  DEFAULT ((1)) FOR [Situacao]
GO
ALTER TABLE [dbo].[Turmas] ADD  DEFAULT ((1)) FOR [Situacao]
GO
ALTER TABLE [dbo].[Aluno_Turma]  WITH CHECK ADD FOREIGN KEY([Aluno_Id])
REFERENCES [dbo].[Alunos] ([Id])
GO
ALTER TABLE [dbo].[Aluno_Turma]  WITH CHECK ADD FOREIGN KEY([Turma_Id])
REFERENCES [dbo].[Turmas] ([Id])
GO
