@page "/relacionamentos"

<h3>Cadastrar e editar associações de Aluno e Turma</h3>

<nav>
    <ul>
        <li><a href="/AlunoTumaPages/associacao">Nova Associação Aluno-Turma.</a></li>
        <li><a href="/AlunoTumaPages/turmas">Listar Alunos Por Turma e Editar relacionamento.</a></li>
    </ul>
</nav>
