<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FiapSchoolWeb</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="turmamodels">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> turma
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="alunos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> alunos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relacionamentos">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> relacionamentos
            </NavLink>
        </div>
    </nav>
</div>

